[submodule "projects/hexpong"]
	path = projects/hexpong
	url = https://github.com/souvik1997/hexpong
[submodule "projects/whereami"]
	path = projects/whereami
	url = https://github.com/souvik1997/whereami
[submodule "projects/picard"]
	path = projects/picard
	url = https://github.com/souvik1997/picard
[submodule "blog/butane-jekyll-theme"]
	path = blog/butane-jekyll-theme
	url = https://github.com/souvik1997/butane-jekyll-theme
