.name {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 1em;
  font-size: 52px;
  font-weight: normal;
}

.subtitle {
  font-size: 27px;
  color: #0a0a0a;
}

.resume {
  font-size: 24px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .name {
    border-bottom: 1px solid #000000;
    border-bottom-color: rgba(0, 0, 0, 0.35);
    color: #0a0a0a;
  }

  .subtitle {
    color: #0a0a0a;
  }

  .resume {
    color: #0070f3;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .name {
    border-bottom: 1px solid #eaeaea;
    border-bottom-color: rgba(255, 255, 255, 0.35);
    color: #fefefe;
  }

  .subtitle {
    color: #fefefe;
  }

  .resume {
    color: #00d4db;
  }
}
