.social {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  margin-top: 2em;
}

.social li {
  display: inline-block;
  margin: 0.25em;
}

.social a {
  color: inherit;
  opacity: 0.8;
  transition-duration: 0.15s;
}
